<div class="auth-container">
    <h2>conta corrente</h2>

      <div>
          <input type="submit" class="btn" value="depositar">
      </div>


    <form action="/contaCorrente" method="POST">
        <div class="form-control" id="btn1">
            <label for="deposit">Qual valor deseja depositar ?</label>
            <input type="text" name="deposit" placeholder="Insira o valor que deseja depositar">
            <input type="submit" class="btn" >
        </div>
    </form>

    <form action="/contaCorrente" method="POST">
        <div class="form-control">
            <label for="withdraw">Qual valor deseja sacar ?</label>
            <input type="text" name="withdraw" placeholder="Insira o valor que deseja sacar">
            <input type="submit" class="btn">
        </div>
    </form>

    <form action="/contaCorrente" method="GET">
        <div class="form-control">
            <label for="balance">Consultar saldo</label>
            <input type="text" name="balance">
            <input type="submit" class="btn">
        </div>
    </form>
</div>
