<div class="auth-container">
    <h2>Cadastre seu endereço </h2>

    <form action="/registerAddress" method="POST">

        <div class="form-control">
            <label for="endereco">Endereco:</label>
            <input type="text" name="endereco" placeholder="Digite o seu endereço" required>
        </div>

        <div class="form-control">
            <label for="numero">Numero:</label>
            <input type="text" name="numero" placeholder="Digite o seu numero" required>
        </div>

        <div class="form-control">
            <label for="cep">CEP:</label>
            <input type="text" name="cep" placeholder="Digite o cep"  required>
        </div>

        <div class="form-control">
            <label for="cidade">Cidade:</label>
            <input type="text" name="cidade" placeholder="Digite o seu cidade" required>
        </div>

        <div class="form-control">
            <label for="estado">Estado:</label>
            <input type="text" name="estado" placeholder="Digite o seu estado" required >
        </div>

        <input type="submit" value="Cadastrar">
    </form>
</div>