<div class="auth-container">
    <h2>Dados da conta Bancaria</h2>

    <form action="/registerAgencia" method="POST">

        <div class="form-control">
            <label for="tipodeconta">Escolha sua conta:</label>
            <select name="tipodeconta" required>
                <option value="Conta Corrente">Conta corrente</option>
                <option value="Conta Poupanca">Conta poupanca</option>
            </select>
        </div>

        <div class="form-control">
            <label for="agencia">Agencia:</label>
            <select name="agencia" required>
                <option value="0001">Agencia Faria Lima - 0001</option>
                <option value="0002">Agencia Grajau - 0002</option>
                <option value="0003">Agencia Paulista - 0003</option>
            </select>
        </div>
        
        <input type="submit" value="Cadastrar">
    </form>
</div>