<div class="auth-container">
    <h2>Dados da conta Bancaria</h2>

    <form action="/registerBanco" method="POST">

        <div class="form-control">
            <label for="tipodeconta">Escolha sua conta:</label>
            <select name="tipodeconta" required>
                <option value="contaCorrente">Conta corrente</option>
                <option value="contaPoupanca">Conta poupanca</option>
            </select>
        </div>

        <div class="form-control">
            <label for="agencia">Agencia:</label>
            <select name="agencia" required>
                <option value="agencia Faria Lima">Agencia Faria Lima</option>
                <option value="agencia Grajau">Agencia Grajau</option>
                <option value="agencia Paulista">Agencia Paulista</option>
            </select>
        </div>

        {{!
        <label for="conta">Conta:</label>
        <input type="text" name="conta" placeholder="Digite o seu nome" required>
</div>
<div class="form-control">
    }}
    <input type="submit" value="Cadastrar">
    </form>
</div>