<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Icones bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>

<body>
    <nav id="navbar">
        <a href="/" id="logo">
            <img src="/css/img/logo_banco.png" alt="Banco">
        </a>

        <ul>
            <li><a href="/">Pagina inicial</a></li>
            <li><a href="/faq">Tire suas dúvidas</a></li>
            <li><a href="/login">Entrar em sua conta</a></li>
            <!-- Adicionar outros links quando logado (alterar senha, configurações, encerrar conta e etc) -->
        </ul>

        <div>
            <ul></ul>
        </div>

        {{#if session.userid}}
        <div id="abra-sua-conta">
            <p><a href="/logout">Sair</a></p>
            {{! Adicionar agencia e conta no header}}
        </div>
        {{else}}

        <div id="abra-sua-conta">
            <a href="/register">Abra sua conta</a>
        </div>
        {{/if}}

    </nav>

    <div class="container">

        <!-- Mensagem de erro aparecendo na tela -->
        {{#if messages.message}}
        <div class="message">
            {{messages.message}}
        </div>
        {{/if}}

        {{{ body }}}

    </div>

    <footer>
        <div id="rodape">

            <p><span> &copy; 2022 Banco Field. CNPJ: 31.872.583/0001-72</span></p>

            <div id="redes-sociais">
                <span id="msg-de-seguir">Siga o Dev</span>
                <ul>
                    <li title="Me siga no facebook"> <a href="https://www.facebook.com/Jean.Fagundes.96/"> <i
                                class="bi bi-facebook"></i> </a>
                    </li>
                    <li title="Me siga no instagram"> <a href="https://www.instagram.com/jeanfagundes96/"> <i
                                class="bi bi-instagram"></i> </a>
                    </li>
                    <li title="Me siga no github"><a href="https://github.com/JeanFagundes"> <i
                                class="bi bi-github"></i> </a>
                    </li>
                    <li title="Me siga no linkedin"><a href="https://www.linkedin.com/in/jean-fagundes-31488910b/"> <i
                                class="bi bi-linkedin"></i></a>
                    </li>
                </ul>

            </div>
        </div>
    </footer>

</body>

</html>