* {
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

/* Barra de Navegação */

#logo img{
    width: 80px;
}

#navbar {
    font-size: 20px;
    padding: 0.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    border-bottom: 1px solid #f6982d;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li{
    margin-left: 1.5em;
}

#navbar ul li a {
    text-decoration: none;
    transition: 1s;
    font-weight: bold;
}

#navbar ul li a:hover{
    color:#f6982d;
}

#abra-sua-conta{
    border: solid;
    justify-content: right;
    border-radius: 50px;
    border: 20px 20px 20px 10px;
    padding: 10px 60px;
}

#abra-sua-conta a {
    text-decoration: none;
}
#abra-sua-conta a:hover {
    transition: 1s;
    color:#f6982d   
}
#abra-sua-conta:hover {
    transition: 1s;
    color:#f6982d;
}

/*container /*/
.container{
    min-height: 60vh;
    padding: 2em;
}

/* footer */
#rodape {
    padding: 1.2em 1.4em;
    margin-top: 1em;
    text-align: center;
    background-color: #222;
    border-top: 1px solid #f6982d;
}

#rodape ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#rodape ul li {
    padding: 4px 8px;
}
#redes-sociais{
    padding: 10px 0px;
}
#msg-de-seguir{
    font-size: 20px;
    font-weight: bold;
    color: #f6982d;
}

/*login e register */

.auth-container {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-container h2{
    margin-bottom: 1em;
    color:#fff;
    border-left: 4px solid #f6982d;
    padding: 0.3em;
    font-size: 25px;
}

.auth-container a{
    color: #f6982d;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #f6982d;
}

form input[type='submit'],
.btn {
    background-color: transparent;
    color: #f6982d;
    border: 2px solid #f6982d;
    padding: 0.5em 1.2em;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.7s;
}

form input[type='submit']:hover,
.btn:hover {
    background-color: #f6982d;
    color: #fff;
}

/* Flash Messages */

.message{
    padding: 1em;
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
}